@import 'mixins';
@import 'color';
@import 'reset';
@import 'base';
@import 'starter';

.nav {

    height: 10vh;
    background: #373c3f;
    padding-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__titre {

        color: #dadfe2;
        font-size: 1.5em;

    }

    .nav__liens {

        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: -50vw;
        top: 0;
        width: 50vw;
        height: 100vh;
        background: #222;
        transition: left 1s;
        font-size: 1.5rem;

        .liens__lien {

            padding: 15px 0;
            text-transform: uppercase;

        }

    }

    .nav__case {

        display: none;
        
    }

    .nav__case:checked ~.nav__liens {

        left: 0;
    
    }

    .nav__case:checked ~.nav__label::before {
    
        font-size: 1.6em;
        content: "\2716";
        padding: 23px 30px 22px 32px;
    
    }

    .nav__label::before {

        color: #fff;
        content: '\2261';
        font-size: 2.5em;
        font-weight: 400;
        background: #222;
        padding: 16px 30px 14px 30px;

    }

}

.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    background: linear-gradient(to bottom right, #19b4c6, #078ba4);

    .header__titre {

        padding-left: 5%;
        padding-bottom: 5%;
        font-size: 6.5vw;
        width: 85vw;
        color: #fff;

        .titre__retour {

            display: block;

        }

    }

    .header__adresse {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        font-size: 5vw;
        width: 83.5vw;
        color: #9fd5da;
        
        .adresse__chevron {

            color: #fff;

        }

    }

}

.section {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #27212b ;
    font-size: 3vw;

    .section__citation {

        padding: 10% 10%;
        color: #8f829c;
    }

    .section__chevron {

        padding: 10% 10%;
        font-size: 4vw;
        background: #bc3184;
        color: #fff;

    }

}

.aside {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .aside__chevron {

        font-size: 10vw;
        padding: 40vw 47vw;
        background: #5a0fa0;
        color: #fff;

    }

}

.main {

    background: #ebebeb;
    padding: 10%;

    .main__url {

        padding-bottom: 5%;
        font-size: 6vw;
        color: #018ca0;

    }

    .main__paragraphes {

        color: #727272;

        .paragraphes__paragraphe {

            padding: 5% 0;
            width: 90%;
            font-size: 3.5vw;
    
        }

        .paragraphes__paragraphe--desktop {

            display: none;
    
        }

    }

}

@media screen and (min-width:640px) {

    .nav {

        flex-direction: row-reverse;
    
        .nav__titre {

            display: none;
    
        }
    
        .nav__liens {

            position: inherit;
            background: inherit;
            flex-direction: row;
            justify-content: space-around;
            align-items: inherit;
            width: 550px;
            height: 10vh;
    
        }
    
        .nav__label::before {

            display: none;
    
        }
    
    }
    
    .header {
    
        height: 50vh;

        .header__titre {

            font-size: 6vw;
    
        }
    
        .header__adresse {
    
            font-size: 4vw;
            width: 77.5vw;
    
        }
    
    }
    
    .section {
    
        font-size: 3vw;

        .section__citation {
    
            padding: 7.5% 10%;
    
        }
    
        .section__chevron {
    
            padding: 7.5%;
    
        }
    }
    
    .aside {

        flex-direction: row;
    
        .aside__chevron {

            font-size: 5vw;
            padding: 11.81vw 15.5vw;
    
        }
    
        .aside__pont {

            width: 33%;
    
        }
    
        .aside__portrait {

            width: 33%;
    
        }
    
    }
    
    .main {

        padding: 5%;
    
        .main__url {
    
            font-size: 5vw;
    
        }
    
        .main__paragraphes {

            display: flex;
            flex-wrap: wrap;

            .paragraphes__paragraphe {
    
                flex: 1 1 40%;
                font-size: 2.5vw;
                padding: 3% 5% 2% 0;
        
            }

            .paragraphes__paragraphe--desktop {
    
                display: block;
        
            }

        }
    
    }
    
}

@media screen and (min-width:980px) {
    
    .header {
    
        height: 60vh;

        .header__titre {
    
            font-size: 5vw;
    
        }
    
        .header__adresse {

            font-size: 3vw;
            width: 65vw;
    
        }
    
    }
    
    .section {
    
        font-size: 2.5vw;

        .section__citation {
    
            padding: 6% 5%;
    
        }
    
        .section__chevron {
    
            padding: 6% 6%;
    
        }
    
    }
    
    .aside {
    
        .aside__chevron {

            order: 1;
            padding: 11.77vw 15.45vw;
    
        }
    
        .aside__portrait {
    
            order: 2;

        }
    
    }
    
    .main {
    
        .main__url {

            font-size: 4vw;
    
        }
    
        .main__paragraphes{

            .paragraphes__paragraphe {

                font-size: 2vw;
        
            }
        
        }

    }

}